{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Code edited from Code Institutue Boutique Ado template -->
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table bag-table table-sm table-borderless">
                    <thead class="text-uppercase">
                        <tr>
                            <th scope="col">Event Info</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.event.name }}</strong></p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.event.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <p class="my-0">{{ item.quantity }}</p>
                            <a class="btn btn-danger btn-remove remove-item" id="remove_{{ item.event_id }}">
                                <small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.event.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="pt-4">
                            <h6 class="text-uppercase"><strong>Total : £{{ total|floatformat:2 }}</strong></h6>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <p></p><a href="{% url 'events' %}" class="btn btn-dark btn-checkout">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a></p>
                            <p><a href="{% url 'checkout' %}" class="btn btn-primary btn-checkout">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a></p>
                        </td>
                    </tr>
                </table>
                <p>* To book more than one place on each event, please <a href="{% url 'contact' %}"
                        class="account-link">Contact Us</a> and we will be happy to help.</p>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'events' %}" class="btn btn-dark btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Browse Events</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<!-- Edited from Code Institute Boutique Ado Walkthrough -->
<script type="text/javascript">

    // Remove event and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var eventId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${eventId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}