{% extends "base.html" %}
{% load static %}
<!-- Home page template -->
{% block content %}
<div class="p-5 text-center bg-image bg-photo d-flex justify-content-center align-items-center">
    <div class="home-overlay">
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-white">
                <!-- Landing page text -->
                <h1 class="mb-3 text-uppercase text-black">Great ready for your new adventure challenge!</h1>
                <p class="mb-3">Exciting and achievable adventures in stunning locations.</p>
                <p>Find your awesome and push your limits on one of our adventure events.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}