body {
    background-color: #22577a;
    color: whitesmoke;
}

/* Navbar */

.navbar {
    letter-spacing: 4px;
    background-color: #22577a;
    margin-bottom: 0;
    border: 0;
    opacity: 0.9;
    z-index: 1000;
}

.navbar li a,
.navbar .navbar-brand {
    color: whitesmoke !important;
}

.navbar-nav li a:hover {
    color: #c7f9cc !important;
}

.dropdown-menu li a {
    color: #22577a !important;
}

.dropdown-menu li a:hover {
    background-color: #22577a !important;
    color: whitesmoke !important;
}

.er-logo-text {
    font-family: 'Cabin Sketch', cursive;
    color: whitesmoke;
    font-size: 2.0rem;
    font-weight: 500;
}

.nav-text {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
}

.navbar-toggler {
    color: whitesmoke !important;
}

/* Home page */

.bg-photo {
    background-image: url('/media/pexels-pixabay-235922-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

.home-overlay {
    background-color: rgba(34, 87, 122, 0.7);
    padding: 20px;
    max-width: 800px;
}


/* Media Queries */

@media screen and (max-width: 660px ) {
    
    #er-logo {
        display: none;
    }
}

@media screen and (max-width: 400px ) {

    .er-logo-text {
        font-size: 1.25rem;
    }
}
