body {
    background-color: #2654a1;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

/* Navbar */

.navbar {
    letter-spacing: 4px;
    background-color: #2654a1;
    margin-bottom: 0;
    border: 0;
    opacity: 0.9;
    z-index: 1000;
}

.navbar li a,
.navbar .navbar-brand {
    color: whitesmoke !important;
}

.navbar-nav li a:hover {
    color: #eee630 !important;
}

.dropdown-menu li a {
    color: #2654a1 !important;
}

.dropdown-menu li a:hover {
    background-color: #2654a1 !important;
    color: whitesmoke !important;
}

.er-logo-text {
    font-family: 'Cabin Sketch', cursive;
    color: whitesmoke;
    font-size: 2.0rem;
    font-weight: 500;
}

.nav-text {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar-toggler {
    color: whitesmoke !important;
}

/* Home page */

.bg-photo {
    background-image: url('/media/pexels-pixabay-235922-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

.home-overlay {
    background-color: rgba(34, 84, 161, 0.7);
    padding: 20px;
    max-width: 800px;
}

/* Event Cards */

.card {
    color: #2654A1 !important;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* Buttons */

.btn-dark {
    background-color: whitesmoke !important;
    color: #2654A1;
    border-color: #2654A1 !important;
}

.btn-dark:hover {
    background-color: #eee630 !important;
    color: #2654A1;
    border-color: #2654A1 !important;
}

.btn-primary {
    background-color: #8f2161 !important;
    border-color: #2654A1 !important;
}

.btn-primary:hover {
    background-color: #eee630 !important;
    color: #2654A1;
    border-color: #2654A1 !important;
}

.btn-secondary {
    background-color: #2654A1 !important;
    border-color: #2654A1 !important;
}

.btn-secondary:hover {
    background-color: #4ab3e1 !important;
    color: white;
    border-color: #4ab3e1 !important;
}

.btn-checkout {
    font-size: 1rem;
    margin: 2px !important;
    padding: 5px !important;
    width: 200px !important;
}

.btn-remove {
    font-size: 0.75rem !important;
    padding: 0.3rem !important;
}

/* Account forms */

.account-link {
    color: #EEE630;
    font-weight: 700;
    text-decoration: none;
}

.account-link:hover {
    color: #8f2161;
}

.form-input label:not([for='id_remember']) {
    display: none;
}

/* Shopping Cart Icon */

.shopping {
    color: #eee630;
}

.shopping:hover {
    color: #4ab3e1;
}

.text-cart {
    font-family: sans-serif;
    font-size: small;
    text-align: center;
}

/* Crispy Forms */

.asteriskField {
    display: none;
}

.form-link a {
    color: #EEE630 !important;
    text-decoration: none;
}

.form-link a:hover {
    color: #8f2161 !important;
}

/* Admin tables */

.table {
    color: #2654A1 !important;
}

.table-hover tbody tr:hover {
    --bs-table-accent-bg: #EEE630;
    color: #2654A1 !important;
}

/* Mailchimp */

#mc_embed_signup {
    margin: 1.0rem;
}

#mc_embed_signup .asterisk {
    color: red !important;
}

#mc_embed_signup input {
    width: 250px !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    background-color: transparent;
    color: #EEE630;
}

/* Bag */

.bag-table {
    color: whitesmoke !important;
}

/* Checkout */

.form-control {
    margin-bottom: 0.5rem;
}

.payment-text {
    color: #eee630 !important;
}

select,
select option {
    color: black;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* Checkout overlay from Code Institute Boutique Ado */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(238, 230, 48, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Stripe */

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* Profile */

#id_default_country,
#id_default_country option:not(:first-child) {
    color: black;
}

#id_default_country option:first-child {
    color: #aab7c4 !important;
}

.profile-form-input::placeholder {
    color: #aab7c4;

}

/* Media Queries */

@media screen and (max-width: 1260px) {

    .text-cart {
        text-align: left;
        margin-left: 10px;
    }
}

@media screen and (max-width: 660px) {

    #er-logo {
        display: none;
    }

    .text-cart {
        text-align: left;
        margin-left: 10px;
    }

    .btn-reduced {
        font-size: 1rem;
        margin: 2px !important;
        padding: 5px !important;
    }

    .btn-checkout {
        font-size: 0.75rem;
        margin: 2px !important;
        padding: 2px !important;
        width: 100px !important;
    }
}

@media screen and (max-width: 450px) {

    .er-logo-text {
        font-size: 1.25rem;
    }

    .nav-text {
        font-size: 0.75rem;
    }

    .bg-photo {
        height: 85vh;
    }

    .home-overlay {
        padding: 10px;
        max-width: 800px;
    }

    .footer {
        margin-top: 0px !important;
    }

    .text-cart {
        text-align: left;
        margin-left: 2px;
    }
}