{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="p-5 text-center bg-image bg-photo d-flex justify-content-center align-items-center">
    <div class="mask home-overlay">
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-white">
                <h1 class="mb-3 text-uppercase">{% trans "Set Password" %}</h1>
                <form method="POST" action="{% url 'account_set_password' %}" class="password_set form-input">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn-primary" name="action" value="{% trans 'Set Password' %}" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}